modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_ADMIN_ID = "6724474397"
BOT_USERNAME = "MyntraCouponStores_bot"
REFERRAL_BASE_URL = "https://61cdbb26-f7be-4c35-a4c6-0813cf6a666f-00-2kjl8sq61fodp.janeway.replit.dev/api-server"

[nix]
channel = "stable-25_05"
